.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/map.png');
  background-size: cover;
  background-position: center center;

  & > .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 5;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    & > .body {
      max-width: 900px;
      width: 100%;
      background-color: white;
      display: flex;
      flex-direction: row;
      height: 100%;
      margin-bottom: 1.5rem;
      & > .leftContainer {
        padding: 1rem;
        box-sizing: border-box;
        width: 300px;
        img {
          width: 80%;
          margin-left: 10%;
        }
        p {
          font-size: 0.75rem;
          margin-bottom: 1rem;
        }
        .phone {
          text-align: center;
          & > span:first-child {
            display: block;
          }
          & > span:last-child {
            display: block;
            font-size: 2rem;
            font-weight: bolder;
          }
        }
      }
      & > .rightContainer {
        width: 600px;
        display: flex;
      }
    }
  }
}
