[data-theme='light'] .box {
  background-color: #F7F7F7;
}

.transitionAll {
  transition: all 0.3s ease;
  width: 300px !important;

  aside {
    transition: padding 0.3s ease;
    height: 100%;
    padding: 3rem 0 1.5rem 1.5rem;

    nav {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      li a {
        display: flex;
        border-radius: 5px;

        span:not(:first-of-type) {
          margin-left: 1rem;
          line-height: 1.5;
        }
      }
    }
  }

  .box {
    box-shadow: none !important;
  }

  &[class*='is-1'] {
    width: 65px !important;

    aside {
      padding: 3rem 0.5rem 1.5rem 0.5rem;
    }

    li a {
      text-align: center;
      span:not(:first-of-type) {
        display: none;
      }
    }
  }
}

.transform90,
.transform270 {
  transition: 0.25s ease;
}

.transform90 {
  transform: rotate(90deg);
}

.transform270 {
  transform: rotate(270deg);
}

.hideOverflow {
  overflow: hidden;
  white-space: nowrap;
}
